[submodule "Src/stm32_printf"]
	path = Src/stm32_printf
	url = https://github.com/hajime0316/stm32_printf.git
[submodule "Src/canmd_manager"]
	path = Src/canmd_manager
	url = https://github.com/hajime0316/canmd_manager.git
[submodule "Src/stm32_easy_can"]
	path = Src/stm32_easy_can
	url = https://github.com/hajime0316/stm32_easy_can.git
[submodule "Src/stm32_velocity"]
	path = Src/stm32_velocity
	url = https://github.com/hajime0316/stm32_velocity.git
[submodule "Src/stm32_antiphase_pwm"]
	path = Src/stm32_antiphase_pwm
	url = https://github.com/hajime0316/stm32_antiphase_pwm.git
